PORT=3333
TSE_OFFICIAL_BASE=https://resultados.tse.jus.br/oficial
TSE_POLL_MS=30000
CACHE_TTL_MS=25000
IBGE_GEO_URL=https://servicodados.ibge.gov.br/api/v3/malhas/paises/BR?formato=application/vnd.geo+json&qualidade=minima&intrarregiao=UF
